{% extends 'layout.html' %} {% block title %}정글 식도락{% endblock %}{% block
style %}
<style>
  @keyframes moveX {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(100px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .animate-x {
    animation: moveX 2s ease-in-out infinite;
  }
</style>
{% endblock %} {%block content %}

<div class="bg-gray-100">
  <section class="bg-gray-100 p-8">
    <div class="text-3xl font-bold text-black-500 animate-x infinite">
      카이스트 정글 식도락을 찾아주셔서 감사합니다!
    </div>
  </section>
  <section>
    <div class="max-w-6xl mx-auto px-4 py-6">
      <div class="mb-8">
        <!-- 세로 간격을 주는 감싸는 컨테이너 -->
        <button
          onclick="openModal()"
          class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mt-4 md:mt-8"
        >
          맛집 등록하기
        </button>
      </div>

      <div
        id="card-lists"
        class="grid gap-6 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3"
      >
        <!-- 크게 만든 카드 리스트 -->
        <div class="bg-white rounded-lg overflow-hidden shadow-md p-6 card">
          <h2 class="text-xl font-bold mb-4">가게명:</h2>
          <hr />
          <p class="text-gray-700">주소</p>
          <p class="text-gray-700">작성자</p>
          <p class="text-gray-700">따봉</p>
        </div>
        <!-- 필요한 만큼 카드를 추가하여 리스트 확장 가능 -->
      </div>
    </div>
  </section>
  <!-- 모달 -->
  <div
    id="myModal"
    class="fixed inset-0 z-50 flex items-center justify-center bg-gray-800 bg-opacity-50 hidden"
  >
    <div class="bg-white rounded-lg p-8 max-w-md mx-auto">
      <span
        class="absolute top-2 right-4 cursor-pointer text-2xl"
        onclick="closeModal()"
        >&times;</span
      >
      <label for="search" class="block mb-2">검색:</label>
      <input
        type="text"
        id="search"
        name="search"
        placeholder="정확한 상호명을 입력하세요"
        class="w-full px-4 py-2 border border-gray-300 rounded-lg mb-4"
      />
      <button
        onclick="sendRequest()"
        class="bg-blue-500 text-white px-4 py-2 rounded-lg mb-4 hover:bg-blue-600"
      >
        검색하기
      </button>
      <ul id="searchResultList" class="mb-4"></ul>
      <form>
        <label id="restaurantNameLabel" class="block mb-2">가게명:</label>
        <label id="restaurantaddressLabel" class="block mb-2">주소:</label>
        <label id="restaurantlinkLabel" class="block mb-2">링크:</label>
        <label for="content" class="block mb-2">내용:</label>
        <textarea
          id="content"
          name="content"
          class="w-full px-4 py-2 border border-gray-300 rounded-lg mb-4"
        ></textarea>
      </form>
      <button
        onclick="saveItem()"
        class="bg-green-500 text-white px-4 py-2 rounded-lg mr-2 hover:bg-green-600"
      >
        확인
      </button>
      <button
        onclick="closeModal()"
        class="bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600"
      >
        취소
      </button>
    </div>
  </div>
</div>
{% endblock %} {% block script %}
<!-- 네이버 지도 검색 API 스크립트 -->
<script
  type="text/javascript"
  src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=qwYeDHfb22N5SlsoHEvL"
></script>
<script>
  $(document).ready(function () {
    showcards();
  });
  function openModal() {
    $.ajax({
      type: "GET",
      url: "/protected",
      data: {},
      success: function (response) {
        document.getElementById("myModal").classList.remove("hidden");
      },
      error: function (xhr, status, error) {
        // 에러 발생 시 처리
        if (xhr.status === 401) {
          // 401 Unauthorized 에러인 경우
          alert("로그인이 필요합니다.");
          // 로그인 페이지로 리다이렉트 또는 로그인 모달을 표시하는 등의 작업 수행 가능
          if (confirm("로그인 페이지로 이동하시겠습니까?")) {
            // 사용자가 확인을 선택한 경우
            window.location.href = "/login"; // 로그인 페이지로 이동
          }
        } else {
          // 다른 에러인 경우
          alert("오류 발생: " + error);
        }
      },
    });
  }
  function showcards() {
    $("#card-lists").html("");

    $.ajax({
      type: "GET",
      url: "/complete/write",
      data: {},
      success: function (response) {
        let cards = response["cards"];
        console.log(cards);
        for (let i = 0; i < cards.length; i++) {
          createCard(
            cards[i]["key"],
            cards[i]["title"],
            cards[i]["address"],
            cards[i]["username"],
            cards[i]["content"],
            cards[i]["link"],
            cards[i]["number"]
          );
        }
      },
    });
  }

  function createCard(key, title, address, username, content, link, number) {
    let temp_html;
    temp_html = `
      <div id=${key} class="bg-white rounded-lg overflow-hidden shadow-md p-6 card">
          <h2 class="text-xl font-bold mb-4">가게명: ${title}</h2>
          <hr />
          <p class="text-gray-700">주소: ${address}</p>
          <p class="text-gray-700">작성자: ${username}</p>
          <p class="text-gray-700">내용: ${content}</p>
       
          <button onclick="recommend(${key})">
            <svg class="h-8 w-8 text-green-700" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"/>
              <path d="M7 11v 8a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1v-7a1 1 0 0 1 1 -1h3a4 4 0 0 0 4 -4v-1a2 2 0 0 1 4 0v5h3a2 2 0 0 1 2 2l-1 5a2 3 0 0 1 -2 2h-7a3 3 0 0 1 -3 -3"/>
            </svg>
          </button>
          
          <a id='count'>${number}</a>
        </div>`;
    $("#card-lists").append(temp_html);
  }

  function closeModal() {
    document.getElementById("myModal").classList.add("hidden");
  }

  // 아이템 저장
  function saveItem() {
    var title = $("#restaurantNameLabel").text().trim().replace("가게명: ", "");
    var address = $("#restaurantaddressLabel")
      .text()
      .trim()
      .replace("주소: ", "");
    var link = $("#restaurantlinkLabel").text().trim().replace("링크: ", "");
    var content = $("#content").val().trim();

    $.ajax({
      url: "/complete/write",
      type: "POST",
      data: {
        title_give: title,
        address_give: address,
        link_give: link,
        content_give: content,
      },
      success: function (response) {
        // 요청이 성공한 경우 처리할 내용
        showcards();
      },
      error: function (xhr, status, error) {
        // 요청이 실패한 경우 처리할 내용
      },
    });

    // 모달을 닫습니다.
    closeModal();
  }

  function sendRequest() {
    var search = $("#search").val();
    $.ajax({
      url: "/write",
      type: "POST",
      data: { search_give: search }, // 검색어를 서버로 전달
      success: function (response) {
        var htmltitle = response.title;
        var title = extractKoreanFromHTML(htmltitle);
        var address = response.address;
        var link = response.link;

        $("#restaurantNameLabel").text("가게명: " + title); // 모달 내 "가게명" 옆에 가게명 설정
        $("#restaurantaddressLabel").text("주소: " + address); // 모달 내 "주소" 옆에 가게명 설정
        $("#restaurantlinkLabel").html(
          "링크: <a href='" + link + "'>" + link + "</a>"
        );
      },
    });
  }

  function extractKoreanFromHTML(html) {
    // HTML 태그 제거
    var textWithoutTags = html.replace(/<[^>]*>/g, "");
    // 한글만 추출
    var koreanOnly = textWithoutTags.match(/[가-힣]+/g);
    // 배열을 문자열로 변환
    if (koreanOnly) {
      return koreanOnly.join("");
    } else {
      return "";
    }
  }

  function recommend(key) {
    var upvote_count = 0;

    upvote_count++;

    $.ajax({
      url: "/up",
      type: "POST",
      data: { key: key }, // 검색어를 서버로 전달
      success: function (response) {
        showcards();
      },
    });
  }
</script>
{% endblock %}
