{% extends 'layout.html' %} {% block title %}정글 식도락{% endblock %} {%block
content %}
<section>
  <h2>프로젝트 목표</h2>
  <p>이 섹션은 프로젝트의 목표와 목표를 설명합니다.</p>
</section>
<section>
  <div class="bg-gray-100">
    <div class="max-w-6xl mx-auto mt-8">
      <div
        class="grid gap-6 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3"
      >
        <!-- 크게 만든 카드 리스트 -->
        <div class="bg-white rounded-lg overflow-hidden shadow-md p-6 card">
          <h2 class="text-xl font-bold mb-4">제목 1</h2>
          <p class="text-gray-700">내용 1</p>
          <p class="text-gray-700">내용 2</p>
          <p class="text-gray-700">내용 3</p>
        </div>
        <div class="bg-white rounded-lg overflow-hidden shadow-md p-6 card">
          <h2 class="text-xl font-bold mb-4">제목 2</h2>
          <p class="text-gray-700">내용 2</p>
        </div>
        <div class="bg-white rounded-lg overflow-hidden shadow-md p-6 card">
          <h2 class="text-xl font-bold mb-4">제목 3</h2>
          <p class="text-gray-700">내용 3</p>
        </div>
        <!-- 필요한 만큼 카드를 추가하여 리스트 확장 가능 -->
        <div class="bg-white rounded-lg overflow-hidden shadow-md p-6 card">
          <h2 class="text-xl font-bold mb-4">제목 4</h2>
          <p class="text-gray-700">내용 4</p>
        </div>
        <div class="bg-white rounded-lg overflow-hidden shadow-md p-6 card">
          <h2 class="text-xl font-bold mb-4">제목 5</h2>
          <p class="text-gray-700">내용 5</p>
        </div>
        <div class="bg-white rounded-lg overflow-hidden shadow-md p-6 card">
          <h2 class="text-xl font-bold mb-4">제목 6</h2>
          <p class="text-gray-700">내용 6</p>
        </div>
        <div class="bg-white rounded-lg overflow-hidden shadow-md p-6 card">
          <h2 class="text-xl font-bold mb-4">제목 7</h2>
          <p class="text-gray-700">내용 7</p>
        </div>
        <div class="bg-white rounded-lg overflow-hidden shadow-md p-6 card">
          <h2 class="text-xl font-bold mb-4">제목 8</h2>
          <p class="text-gray-700">내용 8</p>
        </div>
        <!-- 필요한 만큼 카드를 추가하여 리스트 확장 가능 -->
      </div>
    </div>
  </div>
</section>
{% endblock %} {% block script %}
<script></script>
{% endblock %}
