<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인</title>
  </head>
  <body>
    <h2>로그인</h2>
    <form action="#">
      <label for="username">이름</label>
      <input
        id="username"
        type="text"
        placeholder="이름을 입력해주세요"
        required
      />
      <br />
      <label for="password">비밀번호</label>
      <input
        id="password"
        type="password"
        placeholder="이름을 입력해주세요"
        required
      />
      <input type="submit" value="로그인" />
    </form>
  </body>
</html>
