<nav class="bg-blue-400 dark:bg-gray-900 fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
  <div class="container mx-auto px-4">
    <div class="flex items-center justify-between h-16">
      <a class="text-lg font-bold">도시락</a>
      <button id="login-nav" href="/login" style="display: none" class="hidden px-4 py-2 bg-transparent border border-white rounded hover:bg-white hover:text-blue-500 transition duration-300 ease-in-out" onclick="redirectToLoginPage()">로그인</button>
      <button id="logout-nav" href="#" style="display: none" class="hidden px-4 py-2 bg-transparent border border-white rounded hover:bg-white hover:text-blue-500 transition duration-300 ease-in-out" onclick="confirmLogout()">로그아웃</button>
    </div>
  </div>
</nav>

<script>
  var token = localStorage.getItem('token')
  
  var loginButton = document.getElementById('login-nav')
  var logoutButton = document.getElementById('logout-nav')
  
  if (token) {
    // 로그인 상태인 경우의 처리
    logoutButton.style.display = 'inline-block'
    loginButton.style.display = 'none'
  } else {
    // 로그인 상태가 아닌 경우의 처리
    loginButton.style.display = 'inline-block'
    logoutButton.style.display = 'none'
  }
  
  function redirectToLoginPage() {
    // 로그인 페이지로 이동
    window.location.href = '/login'
  }
  
  function confirmLogout() {
    // 로그아웃을 진행하기 전에 사용자에게 확인 메시지
    var confirmLogout = confirm('정말 로그아웃 하시겠습니까?')
  
    if (confirmLogout) {
      // 사용자가 확인을 클릭한 경우, 로그아웃을 진행
  
      $.ajax({
        url: '/logout',
        type: 'POST',
        data: {
          logout_give: true
        },
        success: function (response) {
          // 요청이 성공한 경우 처리할 내용
          if (response.logout) {
            localStorage.removeItem('token')
            window.location.reload()
          }
        }
      })
    }
  }
</script>
